@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
	font-weight: 400 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')
		format('truetype');
	font-weight: 400 900;
	font-style: italic;
}

@font-face {
	font-family: 'Amatic SC';
	src: url('/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Amatic SC';
	src: url('/fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Dawning of a New Day';
	src: url('/fonts/Dawning_of_a_New_Day/DawningofaNewDay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 700;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 700;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 300 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 300 800;
	font-style: italic;
}

@font-face {
	font-family: 'Fredoka';
	src: url('/fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 300 700;
	font-style: normal;
}

@font-face {
	font-family: 'Fredoka';
	src: url('/fonts/Fredoka/Fredoka-Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 300 700;
	font-style: italic;
}

:root {
	@apply font-content text-text;
	--tw-bg-opacity: 1;
	background-color: hsl(var(--background) / var(--tw-bg-opacity));

	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}


.btn {
	@apply border border-black px-3 py-2 transition-colors duration-200;
}
.btn:hover {
	@apply bg-black text-white;
}
