@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}
